<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">


  <servlet>
    <servlet-name>tomcat_test</servlet-name>
    <servlet-class>tomcatTest</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>sql_test</servlet-name>
    <servlet-class>sql</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>test_sql_connect</servlet-name>
    <servlet-class>test_sql_connect</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>tomcat_test</servlet-name>
    <url-pattern>/tomcat/test/</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>sql_test</servlet-name>
    <url-pattern>/sql/test/</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>test_sql_connect</servlet-name>
    <url-pattern>/sql_connect/test/</url-pattern>
  </servlet-mapping>




</web-app>

